body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__logo {
    margin-top: 24px;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__suptitle {
    margin-left: 90px;
    margin-top: -74px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;

    color: #FA8736;
}

.header__subtitle {
    margin-left: 92px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;

    color: #182877;
}

.header__link {
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    margin-top: 20px;
}

.nav__link_sign {
    margin-left: 20px;

    color: #182877;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.5;
    text-decoration: none;
    text-align: center;

    transition: background .2s linear, color .2s linear;

    width: 129px;
    height: 50px;

    border: 1px solid #577486;
    border-radius: 90px;
}

.nav__link_reg {
    margin-left: 20px;
    
    color: #182877;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.5;
    text-decoration: none;
    text-align: center;
    
    transition: background .2s linear, color .2s linear;

    width: 173px;
    height: 50px;

    border: 1px solid #577486;
    border-radius: 90px;
}

.nav__link_sign:hover {
    background-color: #9EC7DD;
}

.nav__link_reg:hover {
    background-color: #9EC7DD;
}

.nav__link:first-child {
    margin-left: 0;
}

/* sign_in, sign up */
.sign__in,
.sign__up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: transparent;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

.sign__in.active,
.sign__up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(232, 232, 232, .80);
}

.sign_in__container,
.sign_up__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sign_in__logo,
.sign_up_logo {
    margin-top: 10px;
}

.sign_in__body {
    margin: auto;
    width: 500px;
    height: 460px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px 110px 15px;
    position: relative;
}

.sign_up__body {
    margin: auto;
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px 110px 15px;
    position: relative;
}

.sign_in__body p,
.sign_up__body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

.sign_in__body input,
.sign_up__body input {
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.sign_in__body input:focus,
.sign_up__body input:focus {
    outline: none;
}

.sign_in__body button,
.sign_up__body button {
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 40px auto 0px auto;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    color: #000;
    border-radius: 20px;

    transition: background .2s linear, color .2s linear;

    background: #ED8A4F;
    box-shadow: 0px 10px 40px rgba(201, 38, 42, 0.4);
}

.sign_in__body button:hover,
.sign_up__body button:hover {
    background-color: #9EC7DD;
}

.sign_in__close,
.sign_up__close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Account */
.account {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
}

/*error*/

.field-err {
    border-color: #fc6262;
}
.err-message {
    position: absolute;
    left: 140px;
    color: #fc6262;
    font-size: 13px;
    font-weight: 400;
}

/* lesson */
.lesson {
    width: 1100px;
    height: 460px;
    margin-top: 170px;
    margin-left: 400px;
    background-color: #F7FFF7;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.lesson__img {
    margin: 0 auto;
    width: 500px;
    height: 460px;
}


.lesson__item {
    margin-left: 52%;
    margin-top: -40%;
}

.lesson__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;

    margin-top: 23px;
    margin-bottom: 30px;
    
    color: #ED8A4F;
}

.lesson__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;

    color: #000;
    margin-bottom: 60px;
}

/* btn */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 25px 180px;

    border: 0px solid #fff;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;
    margin-left: 0px;

    transition: background .2s linear, color .2s linear;

    background: #ED8A4F;
    box-shadow: 0px 10px 40px rgba(201, 38, 42, 0.4);
    border-radius: 80px;
}
.btn__lesson{
    display: inline-block;
    vertical-align: top;
    padding: 25px 180px;

    border: 0px solid #fff;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;
    margin-left: 0px;

    transition: background .2s linear, color .2s linear;

    background: #ED8A4F;
    box-shadow: 0px 10px 40px rgba(201, 38, 42, 0.4);
    border-radius: 80px;
}

.btn:hover {
    background-color: #9EC7DD;
}
.btn__lesson:hover {
    background-color: #9EC7DD;
}
/* User img */

.user__img{
    position: relative;
    max-width: 35px;
    max-height: 35px;
    left: 70px;
    top: 7px;
    z-index: 4;
    
}
 /* Personal account */
.nav__link_pa {
    margin-left: 20px;

    color: #121212;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.5;
    text-decoration: none;
    text-align: center;
    padding-left: 35px;
    z-index: 2;

    transition: background .2s linear, color .2s linear;

    width: 173px;
    height: 50px;

    border: 1px solid #577486;
    border-radius: 90px;
}
.nav__link_pa:hover {
    background-color: #9EC7DD;
    z-index: 2;
}
/* Выпадающие окно */
.drop__down {
    position: absolute;
    margin-left: 55px;
    color: #121212;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.5;
    text-decoration: none;
    text-align: center;
    padding-left: 35px;

    transition: background .2s linear, color .2s linear;
    background-color: #FFFFFF;
    z-index: 1;
    width: 173px;
    height: 85px;

    border: 1px solid #577486;
    border-radius: 25px;
    display: none;
    align-items: flex-end;
}
.drop__down__active {
display: block;
}
/* button exit */
.exit{
font-weight: 600;
font-size: 16px;
height: 85px;
display: flex;  
align-items: flex-end;
color: red;
margin-left: 60px;
text-decoration: none;
}
.exit:hover{
color: #6d0506;
}